:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.3211 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.3211 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.3211 0 0);
  --primary: oklch(0.5751 0.1757 24.5456);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.967 0.003 264.542);
  --secondary-foreground: oklch(0.3211 0 0);
  --muted: oklch(0.967 0.003 264.542);
  --muted-foreground: oklch(0.5761 0 0);
  --accent: oklch(0.971 0.013 17.38);
  --accent-foreground: oklch(0.5751 0.1757 24.5456);
  --destructive: oklch(0.637 0.237 25.331);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9022 0.0052 247.8822);
  --input: oklch(0.97 0.0029 264.542);
  --ring: oklch(0.5751 0.1757 24.5456);
  --chart-1: oklch(0.7156 0.0605 248.6845);
  --chart-2: oklch(0.7875 0.0917 35.9616);
  --chart-3: oklch(0.5778 0.0759 254.1573);
  --chart-4: oklch(0.5016 0.0849 259.4902);
  --chart-5: oklch(0.4241 0.0952 264.0306);
  --sidebar: oklch(0.903 0.0046 258.3257);
  --sidebar-foreground: oklch(0.3211 0 0);
  --sidebar-primary: oklch(0.5751 0.1757 24.5456);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.971 0.013 17.38);
  --sidebar-accent-foreground: oklch(0.5751 0.1757 24.5456);
  --sidebar-border: oklch(0.9276 0.0058 264.5313);
  --sidebar-ring: oklch(0.5751 0.1757 24.5456);
  --font-sans: Inter, sans-serif;
  --font-serif: IBM Plex Serif, ui-serif, serif;
  --font-mono: IBM Plex Mono, ui-monospace, monospace;
  --radius: 0rem;
  --shadow-x: 0px;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0.258 0.092 26.042);
  --shadow-2xs: 0px 1px 3px 0px hsl(359.2852 79.4175% 15.3495% / 0.05);
  --shadow-xs: 0px 1px 3px 0px hsl(359.2852 79.4175% 15.3495% / 0.05);
  --shadow-sm: 0px 1px 3px 0px hsl(359.2852 79.4175% 15.3495% / 0.1),
    0px 1px 2px -1px hsl(359.2852 79.4175% 15.3495% / 0.1);
  --shadow: 0px 1px 3px 0px hsl(359.2852 79.4175% 15.3495% / 0.1),
    0px 1px 2px -1px hsl(359.2852 79.4175% 15.3495% / 0.1);
  --shadow-md: 0px 1px 3px 0px hsl(359.2852 79.4175% 15.3495% / 0.1),
    0px 2px 4px -1px hsl(359.2852 79.4175% 15.3495% / 0.1);
  --shadow-lg: 0px 1px 3px 0px hsl(359.2852 79.4175% 15.3495% / 0.1),
    0px 4px 6px -1px hsl(359.2852 79.4175% 15.3495% / 0.1);
  --shadow-xl: 0px 1px 3px 0px hsl(359.2852 79.4175% 15.3495% / 0.1),
    0px 8px 10px -1px hsl(359.2852 79.4175% 15.3495% / 0.1);
  --shadow-2xl: 0px 1px 3px 0px hsl(359.2852 79.4175% 15.3495% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.216 0.006 56.043);
  --foreground: oklch(0.985 0.001 106.423);
  --card: oklch(0.268 0.007 34.298);
  --card-foreground: oklch(0.985 0.001 106.423);
  --popover: oklch(0.268 0.007 34.298);
  --popover-foreground: oklch(0.9219 0 0);
  --primary: oklch(0.5751 0.1757 24.5456);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.374 0.01 67.558);
  --secondary-foreground: oklch(0.9219 0 0);
  --muted: oklch(0.374 0.01 67.558);
  --muted-foreground: oklch(0.709 0.01 56.259);
  --accent: oklch(0.258 0.092 26.042);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.637 0.237 25.331);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.374 0.01 67.558);
  --input: oklch(0.444 0.011 73.639);
  --ring: oklch(0.5751 0.1757 24.5456);
  --chart-1: oklch(0.7156 0.0605 248.6845);
  --chart-2: oklch(0.7693 0.0876 34.1875);
  --chart-3: oklch(0.5778 0.0759 254.1573);
  --chart-4: oklch(0.5016 0.0849 259.4902);
  --chart-5: oklch(0.4241 0.0952 264.0306);
  --sidebar: oklch(0.147 0.004 49.25);
  --sidebar-foreground: oklch(0.9219 0 0);
  --sidebar-primary: oklch(0.5751 0.1757 24.5456);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.258 0.092 26.042);
  --sidebar-accent-foreground: oklch(0.971 0.013 17.38);
  --sidebar-border: oklch(0.268 0.007 34.298);
  --sidebar-ring: oklch(0.5751 0.1757 24.5456);
  --font-sans: Inter, sans-serif;
  --font-serif: IBM Plex Serif, ui-serif, serif;
  --font-mono: IBM Plex Mono, ui-monospace, monospace;
  --radius: 0rem;
  --shadow-x: 0px;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: #1a1a1a;
  --shadow-2xs: 0px 1px 3px 0px hsl(0 0% 10.1961% / 0.05);
  --shadow-xs: 0px 1px 3px 0px hsl(0 0% 10.1961% / 0.05);
  --shadow-sm: 0px 1px 3px 0px hsl(0 0% 10.1961% / 0.1), 0px 1px 2px -1px hsl(0 0% 10.1961% / 0.1);
  --shadow: 0px 1px 3px 0px hsl(0 0% 10.1961% / 0.1), 0px 1px 2px -1px hsl(0 0% 10.1961% / 0.1);
  --shadow-md: 0px 1px 3px 0px hsl(0 0% 10.1961% / 0.1), 0px 2px 4px -1px hsl(0 0% 10.1961% / 0.1);
  --shadow-lg: 0px 1px 3px 0px hsl(0 0% 10.1961% / 0.1), 0px 4px 6px -1px hsl(0 0% 10.1961% / 0.1);
  --shadow-xl: 0px 1px 3px 0px hsl(0 0% 10.1961% / 0.1), 0px 8px 10px -1px hsl(0 0% 10.1961% / 0.1);
  --shadow-2xl: 0px 1px 3px 0px hsl(0 0% 10.1961% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}
